<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willson's Blog</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <a href="/blog" class="main-title">
        Willson's Blog
    </a>
    <ul class="navbar">
        {% if username %}
            <li><a class="navbar-item" href="/blog/newpost">New Post</a></li>
            <li><a class="navbar-item" href="/logout">Logout</a></li>
            <li><span class="navbar-item">{{username.name}}</span></li>
        {% else %}
            <li><a class="navbar-item" href="/login">Login</a></li>
            <li><a class="navbar-item" href="/signup">Signup</a></li>
        {% endif %}
    </ul>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>