{% extends "basepost.html" %}

{% block content %}
  <h2>Signup</h2>
  <form method="post">
    <table>
      <tbody><tr>
        <td class="label">
          Username
        </td>
        <td>
          <input type="text" name="username" value="{{username}}">
        </td>
        <td class="error">
          {% if error_username %}
          That's not a valid username.
          {% endif %}
          {{error_username_msg}}
        </td>
      </tr>

      <tr>
        <td class="label">
          Password
        </td>
        <td>
          <input type="password" name="password" value="{{password}}">
        </td>
        <td class="error">
          {% if error_password %}
          That wasn't a valid password.
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="label">
          Verify Password
        </td>
        <td>
          <input type="password" name="verify" value="{{verify}}">
        </td>
        <td class="error">
          {% if error_verify %}
          Your passwords didn't match.
          {% endif %}
        </td>
      </tr>

      <tr>
        <td class="label">
          Email (optional)
        </td>
        <td>
          <input type="text" name="email" value="{{email}}">
        </td>
        <td class="error">
          {% if error_email %}
          That's not a valid email.
          {% endif %}
        </td>
      </tr>
    </tbody></table>

    <input type="submit">
  </form>
{% endblock %}